/* FUENTES */
  /* Fuente título */
  @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
/* END FUENTES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}
body {
  background: black;
}

.text {
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #17d2e0,
    #479ae2,
    #6f78eb,
    #8f5ff0,
    #c42ff4,
    #f72afe
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-size: 300%;
  background-position: -100%;

  animation: animatedText 5s infinite alternate-reverse;
  font: normal bold 2.5rem / 1.2 "Poppins", "Helvetica", sans-serif;
}

@keyframes animatedText {
  to {
    background-position: 100%;
  }
}
.parte-superior {
  display: flex;
  justify-content: space-around;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #bfc0c0;
  text-decoration: none;
  letter-spacing: 1px;
}
.container {
  background-color: #434343c4;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0px 0px 61px 7px #031e1a73;
  padding: 50px 20px;
  border-radius: 20px;
  text-align: center;
  margin: 2%;
}
.header {
  display: flex;
  flex-direction: column;
}

.main-part {
  display: flex;
  flex-direction: column;
}

.header h1 {
  cursor: pointer;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -2px;
  margin-top: -4%;
}
form {
  display: flex;
  margin-top: 20 px;
  /* width: 80%; */
  /* max-width: 100%; */
  position: relative;
  margin-left: 5%;
  flex-direction: row;
  justify-content: space-around;
}
input {
  border: none;
  border-bottom: 2px solid rgba(128, 128, 128, 0.479);
  font-size: 20px;
  width: 100%;
  outline: none;
  color: gray;
  background-color: transparent;
}
input::placeholder {
  opacity: 0.5;
  color: gray;
  font-family: "Montserrat";
}
form ion-icon {
  position: absolute;
  right: 0;
  font-size: 20px;
  opacity: 0.5;
  color: gray;
}

@media (max-width: 600px) {
  .parte-superior {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    max-width: 1160px;
    padding: 100px;
  }
  .logo {
    margin-top: -1%;
    margin-left: -0%;
    cursor: pointer;
  }

  .header h1 {
    font-size: 50px;
  }
  .header input {
    font-size: 24px;
  }
  .header ion-icon {
    font-size: 24px;
  }
}

.main-part p {
  font-family: "Dank Mono", ui-monospace, monospace;
  margin-top: 1ch;
  line-height: 1.35;
  max-inline-size: 40ch;
  margin: auto;
  font-size: 22px;
  background-image: linear-gradient(
    to right,
    #38ff00,
    #82e569,
    #99f175,
    #63e265,
    #79e891,
    #a3e68d
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 5s infinite alternate-reverse;
}

#titulo-principal {
  font-size: 9vmin;
  line-height: 1.1;
  max-inline-size: 15ch;
  margin: auto;
  margin-right: 25px;
  margin-top: 6px;
  background-image: linear-gradient(
    to right,
    #01ff17,
    #71e741,
    #67e370,
    #92ec89,
    #b6f0b5,
    #e2eee1
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Audiowide", cursive;
  background-size: 300%;
  background-position: -100%;
  animation: animatedText 5s infinite alternate-reverse;
}
.footer {
  margin-top: -4%;
  display: flex;
  justify-content: space-around;
  margin-bottom: -14%;
}
#footer-home {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
  margin-bottom: -7%;
}
hr {
  margin-top: 8%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
#separador-home {
  margin-top: 13%;
  width: 76%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(255 255 255 / 75%),
    rgba(0, 0, 0, 0)
  );
}
.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.4s ease-out;
}
.wrapper__links {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.social-link--linkedin {
  color: #2d76b0;
}
.social-link--github {
  color: #000;
}
.social-link--instagram {
  color: #9a2970;
}

.social-link .social-svg {
  width: 3.6rem;
  height: 3.6rem;
}
.social-link .social-svg .social-group__icon {
  fill: #191308;
  transition: all 0.2s;
}
.social-link .social-svg .social-group__inner-circle {
  fill: transparent;
  transition: all 0.2s;
}
.social-link .social-svg .social-group__outline {
  stroke: #191308;
  transform-origin: 50% 50%;
  transition: all 0.2s;
}
.social-link .social-svg:hover .social-group__icon,
.social-link .social-svg:active .social-group__icon,
.social-link .social-svg:focus .social-group__icon {
  fill: #fffbfa;
  transition: all 0.45s;
}
.social-link .social-svg:hover .social-group__inner-circle,
.social-link .social-svg:active .social-group__inner-circle,
.social-link .social-svg:focus .social-group__inner-circle {
  fill: currentColor;
  transition: all 0.45s;
}
.social-link .social-svg:hover .social-group__inner-circle--instagram,
.social-link .social-svg:active .social-group__inner-circle--instagram,
.social-link .social-svg:focus .social-group__inner-circle--instagram {
  fill: url(#simpleInsta) !important;
}
.social-link .social-svg:hover .social-group__outline,
.social-link .social-svg:active .social-group__outline,
.social-link .social-svg:focus .social-group__outline {
  stroke: currentColor;
  transform: scale(1.1);
  transition: all 0.45s;
}
#firma-principal {
  margin-top: -6%;
  margin-bottom: -16%;
}

.made-by {
  display: flex;
  justify-content: center;
  align-items: center;
}
.made-by .box {
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.made-by .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.made-by .box .title .block {
  width: 0%;
  height: inherit;
  background: linear-gradient(to right, #17d2e0, #479ae2, #6f78eb);
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.made-by .box .title h1 {
  font-family: "Poppins";
  color: rgb(0, 0, 0);
  font-size: 32px;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.made-by .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: linear-gradient(
    to right,
    #17d2e0,
    #479ae2,
    #6f78eb,
    #8f5ff0,
    #c42ff4,
    #f72afe
  );
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  margin-left: 5px;
  margin-top: -10px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.made-by .box .role {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -10px;
}
.made-by .box .role .block {
  width: 0%;
  height: inherit;
  background: linear-gradient(to left, #8f5ff0, #c42ff4, #f72afe);
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.made-by .box .role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 400;
  font-family: "Lato";
  color: #000000;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  animation-duration: 5s;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: linear-gradient(
      to right,
      #17d2e0,
      #479ae2,
      #6f78eb,
      #8f5ff0,
      #c42ff4,
      #f72afe
    );
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: linear-gradient(
      to right,
      #17d2e0,
      #479ae2,
      #6f78eb,
      #8f5ff0,
      #c42ff4,
      #f72afe
    );
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: linear-gradient(
      to right,
      #17d2e0,
      #479ae2,
      #6f78eb,
      #8f5ff0,
      #c42ff4,
      #f72afe
    );
    border: 0px solid #222;
    bottom: 13px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes top {
  0% {
    opacity: 0;
    bottom: -80px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes icon {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3) rotate(-2deg);
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
/* NAVBAR MENU */
.r-link {
  display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href] {
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list {
  padding-left: var(--rListPaddingLeft, 0) !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}

/*
=====
CORE STYLES
=====
*/

.menu {
  --rLinkColor: var(--menuLinkColor, currentColor);
}

.menu__link {
  display: var(--menuLinkDisplay, block);
}

/* 
focus state 
*/

.menu__link:focus {
  outline: var(--menuLinkOutlineWidth, 2px) solid
    var(--menuLinkOutlineColor, currentColor);
  outline-offset: var(--menuLinkOutlineOffset);
}

/* 
fading siblings
*/

.menu:hover .menu__link:not(:hover) {
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, 0.35));
}

/*
=====
PRESENTATION STYLES
=====
*/

.menu {
  background-color: var(--menuBackgroundColor, #f0f0f0);
  box-shadow: var(
    --menuBoxShadow,
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 2px 0 rgba(0, 0, 0, 0.24)
  );
}

.menu__list {
  display: flex;
}

.menu__link {
  padding: var(--menuLinkPadding, 0.8rem 0.8rem);
  font-weight: 700;
  text-transform: uppercase;
}

/* 
=====
TEXT UNDERLINED
=====
*/

.text-underlined {
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color 0.25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: var(--textUnderlinedLineColor, currentColor);

  will-change: width;
  transition: width 0.1s ease-out;

  position: absolute;
  bottom: 0;
}

.text-underlined::before {
  left: 50%;
  transform: translateX(-50%);
}

.text-underlined::after {
  right: 50%;
  transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
  width: 100%;
  transition-duration: 0.2s;
}

/*
=====
SETTINGS
=====
*/

.page__custom-settings {
  --menuBackgroundColor: #15be1a;
  --menuLinkColor: #fff;
  --menuLinkColorUnactive: #333433;
  --menuLinkOutlineOffset: -0.5rem;
  padding: 5px;
  border-radius: 15px;
}

/*
=====
DEMO
=====
*/

.page__menu:nth-child(n + 2) {
  margin-top: 3rem;
}

.substack {
  border: 1px solid #eee;
  background-color: #fff;
  width: 100%;
  max-width: 480px;
  height: 280px;
  margin: 1rem auto;
}

canvas {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.wrapper2 {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  max-width: 1440px;
  font-size: 0;
}

/* INICIO PÁGINA MAIN */
.hero-item,
.standard-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-item {
  display: inline-block;
  min-height: 400px;
  width: 50%;
}

.hero-item {
  background-image: url("https://super-ficcion.com/wp-content/uploads/2020/07/dc_comics-scaled.jpg");
}

.standard-item:nth-child(2) {
  background-image: url("https://1.bp.blogspot.com/-Nn9Ovdh0dWI/YCh0eXOcs_I/AAAAAAAAhiY/D0zGgUWoFJs5hAzOddnJhTsXunyBjXW9gCLcBGAsYHQ/s1795/vader-fortress-comic.jpg");
}

.standard-item:nth-child(3) {
  background-image: url("https://pbs.twimg.com/media/Dbov6gcXkAEDohO.jpg");
}

.standard-item:nth-child(4) {
  background-image: url("https://super-ficcion.com/wp-content/uploads/2020/06/hipertextual-marvel-revela-sera-final-universo-marvel-2019314666-scaled.jpg");
}

@supports (display: grid) {
  .news-item {
    width: auto;
    min-height: 0;
  }

  .hero-item {
    grid-column: 1 / span 2;
    grid-row: 1 / 50;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 75px), 0 100%);
  }

  .standard-item:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row: 50 / 100;
    -webkit-clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
    clip-path: polygon(0 14%, 0 86%, 90% 81%, 100% 6%);
    margin-top: -73px;
  }

  .standard-item:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 50 / 100;
    -webkit-clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
    clip-path: polygon(13% 6%, 4% 84%, 100% 100%, 100% 0%);
    margin-top: -73px;
    margin-left: -15%;
    margin-bottom: 18px;
  }

  .standard-item:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 100 / 150;
    -webkit-clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
    clip-path: polygon(45% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
    margin-top: -107px;
  }
}
#presentacion-principal {
  margin-top: 2%;
}
#presentacion-principal h2 {
  color: white;
}
#presentacion-principal p {
  margin-top: 2%;
  color: #01ff17;
}
/* END PÁGINA MAIN */

/* INICIO PÁGINA CLIENTES */
.item a button {
  position: absolute;
  top: 87%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #b4adad78;
  /* background: url("star.png"); */
  color: white;
  font-size: 16px;
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}
.item a button img {
  width: 20px;
  height: 20px;
}
.item {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  transition: 0.3s ease box-shadow;
}

.item:hover {
  box-shadow: 0px 0px 20px 3px #ffffff42;
  cursor: pointer;
}
.item:nth-last-child(1) {
  margin-bottom: 0;
}
.item h3 {
  width: 100%;
  padding: 20px;
  position: absolute;
  background-color: #00000040;
  color: aliceblue;
  bottom: -70px;
  font-weight: 300;
  transition: 0.5s ease-in-out bottom;
}
.item:hover h3 {
  bottom: 0;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 50px;
  grid-gap: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #737772c4;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #28ee00;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#div-btn-cerrar {
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-top: -2%;
}
#content-modal {
  justify-content: center;
  display: flex;
}
/* END MODAL CONTENT */
form input {
  margin-left: 1%;
  color: white;
  background: #0000007a;
  width: 50%;
}
form label {
  color: #28ee00;
}
#inp-dni {
  margin-left: 11%;
}
#btn-insertar {
  margin-top: 2%;
}
/* END PÁGINA CLIENTES */

/* INICIO PÁGINA PRODUCTOS */
#inicio-productos {
  color: #15be1a;
}
.btn-agregar{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 40px;
  background-color: #15be1a;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 15px;
}
/* END PÁGINA PRODUCTOS */

/* PÁGINA LISTAS -->*/
  #div-mas-menos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #contenido-listas{
    margin-top: 4%;
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box-listas{
    background-color: #191a198a;
    color: #15be1a;
    border-radius: 15px;
    width: 20%;
    height: 50%;
    margin: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #div-mas-vendidos{
    display: flex;
    flex-direction: column;
  }
  #div-menos-vendidos{
    display: flex;
    flex-direction: column;
  }
  #div-compras-usuario{
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  #div-porcentaje-ventas{
    width: 45%;
  }
  .titulos-box-listas{
    margin-bottom: 1%;
  }
  #select-usuario-ventas{
    border: #15be1a 2px solid;
    background-color: #333433;
    color: #15be1a;
    border-radius: 5px;
    margin-top: 1%;
    height: 40%;
    width: 50%;
    text-align: center;
  }
/* <-- END PÁGINA LISTAS */

/* BOTONES MODAL -->*/
#btn-insertar-producto{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 30px;
  background-color: #15be1a;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
}
.btn-modificar{
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 30px;
  background-color: #15be1a;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
}
.btn-eliminar{
  margin-top: 15px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 30px;
  background-color: #15be1a;
  color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 15px;
}
/* <-- END BOTONES MODAL */